body {
    background-color: #FFFFFF;
    font-family: italic;
}
h1 {
    color: blue;
    text-align: center;
    font-weight: bold;

}
h2 {
    color: orangered;
    text-align: center;
    font-weight: bold;
}
p {
    font-family: italic, sans-serif, serif;
    font-size: 20px;
    
}
hr {
    border-width: 4px ;
    border-style: solid;
    border-color: blue;
    border-radius: 5px;
}

#copyright {
    color: red;
    font-weight: bold;
    font-size:20px;
}

#UA {
    color: purple;
    font-weight: bold;
    font-size: 20px;
}
a:link {
    text-decoration: none;
    font-weight: bold;
}
  
a:visited {
    text-decoration: none;
    font-weight: bold;
}
  
a:hover {
    text-decoration: underline;
    font-family: italic;
    font-weight: bold;
    color: orange;
    background-color: green;
}

#laptops {
    color: purple;
    font-weight: bold;
    font-size: 20px;
}

a:active {
    text-decoration: underline;
    font-weight: bold;
}

